@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --bg-dark: #020b15;
  --bg-medium: #005a87;
  --bg-light: #006ba1;
  --text: #ffea00;
  --hight-light: #f76c6c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
